* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}

body {
    background-color: lightcyan;
}

.header-section {
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 1px dashed gray;
}

    .header-section .header-sub-sections {
        width: 50%;
        position: absolute;
        display: table;
    }

        .header-section .header-sub-sections > div {
            display: table-cell;
            vertical-align: middle;
        }

            .header-section .header-sub-sections > div:first-child {
                width: 50px;
            }

            .header-section .header-sub-sections > div:last-child {
                padding-left: 15px;
            }

        .header-section .header-sub-sections:first-child {
            left: 0;
        }

        .header-section .header-sub-sections:last-child {
            right: 0;
        }

        .header-section .header-sub-sections .logo {
            height: 50px;
        }

        .header-section .header-sub-sections .menu {
            list-style-type: none;
            padding-top: 5px;
        }

            .header-section .header-sub-sections .menu li {
                display: inline-block;
                padding: 5px 15px;
            }

.body-container .caption {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

    .body-container .caption h1 {
        text-align: center;
    }

.body-container .actions-container {
    width: 100%;
    height: 50px;
    text-align: center;
}

    .body-container .actions-container a {
        display: inline-block;
        padding: 10px;
    }

.body-container .cities-container {
    width: 100%;
}

    .body-container .cities-container > div {
        background-color: azure;
        margin: 10px;
        padding: 40px;
        font-size: 50px;
        border: 1px solid red;
        display: inline-block;
    }
